In [1]:
# Hello World in Python

print("Hello World")

Hello World

Sample markdown explanations

In [2]:
import pandas as pd
import numpy as np

Find the default directory using pwd

In [3]:
pwd

'C:\\Users\\User'

In [4]:
#check the pandas version
pd.__version__

'0.24.2'

In [4]:
#data = pd.read_csv(r"C:\Users\User\Desktop\Box Sync\ITM Learn\Python\Predict Future Sales\items.csv")
data = pr.read_csv("items.csv")
data.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [5]:
data_2 = pd.read_csv("sales_train.csv.gz", compression = 'gzip')
data_2.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [6]:
examplelist = [1,2,3,4,1,5,9,8,7,10,3]

for x in examplelist:
    print(x)

1
2
3
4
1
5
9
8
7
10
3

In [7]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [8]:
print(list(range(1,4)))

[1, 2, 3]

In [9]:
count = 0
for number in range(1,4):
    count = count + number
    print(count)

1
3
6

In [10]:
#write a function that sums all elements of a list and returns it
def sum_list(my_list):
    count_x = 0
    for number in my_list:
        count_x = count_x + number
        
    return(count_x)
    print(count_x)

assert sum_list([3,4,5]) == 12

In [11]:
sample = [3,4,5]
sum_list(sample)

12

In [12]:
print(len('test'))

4

In [13]:
def hello_func():
    return 'Hello world'

print(hello_func().upper())

HELLO WORLD

In [14]:
def hello_func(greeting, name):
    return '{} world, created by {}'.format(greeting, name)

print(hello_func('Hi','peiting'))

Hi world, created by peiting

In [15]:
def student_info (*args, **kwargs):
    print(args)
    print(kwargs)

    
#student_info('Math', 'Art', name = 'John', age = 22)

In [16]:
courses = ['Math', 'Art']
info = {'name': 'John', 'age': 22}


student_info(*courses, **info)

('Math', 'Art')
{'name': 'John', 'age': 22}

In [17]:
# Number of days per month. First value placeholder for indexing purposes.
month_days = {'zero': 0, 'one' : 31, 'two' : 30}

def is_leap(year):
    """Return True for leap years, False for non-leap years."""
    return year % 4 == 0 and (year % 100 !=0 or year % 400 == 0)

print(is_leap(2020))

def days_in_month(year, month):
    """Return number of days in that month in that year."""""
    if not (month == 'one' or month == 'zero' or month == 'two'):
        return 'Invalid month'
    if month == 'two' and is_leap(year):
        return 29
    return month_days[month]


print(days_in_month(2020, 'two'))
#print(days_in_month(2017,zero))

True
29

In [18]:


def is_leap(year):
    """Return True for leap years, False for non-leap years."""
    return year % 4 == 0 and (year % 100 !=0 or year % 400 == 0)

print(is_leap(2020))

True

In [19]:
month_days = {'zero': 0, 'one' : 31, 'two' : 30}

def days_in_month(year, **month):
    """Return number of days in that month in that year."""""
    if not 1 <= month <= 12:
        return 'Invalid month'
    if month == 2 and is_leap(year):
        return 29
    return month_days[month]

## Series Create, manipulate, querry, delete

In [20]:
# creating a series from a list
arr = [0,1,2,3,4]

s1= pd.Series(arr)
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [24]:
# create a new index for s1
order = [1,2,3,4,5]

s2 = pd.Series(arr, index = order)
s2

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [22]:
# see what the results of selecting by index looks like
print(s1[0])
print(s2[4])

print('now try with iloc')
print(s1.iloc[0])
print(s2.iloc[4])

0
3
now try with iloc
0
4

In [26]:
# iloc ignores the index name
print('now try with loc')
print(s1.loc[2])
print(s2.loc[4])

now try with loc
2
3

In [ ]:
n = np.randn(5) #Create a random array Ndarray
index = ['a', 'b','c','d', 'e']